.kyte-calendar-wrapper {
    overflow: hidden;
}
.kyte-calendar-wrapper .row {
    padding: 0;
    margin: 0;
}
.kyte-calendar-wrapper .col {
    padding: 0.1em;
}
.calendar-date-square {
    width: 100%;
    position: relative;
}
.calendar-date-square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.calendar-month-label {
    background: #2d7398;
    text-align: center;
    color: #fff;
    font-size: max(1.5vw, 16px);
    font-weight: 800;
}
.calendar-day-of-week {
    background: #2d7398;
    text-align: center;
    color: #fff;
    font-size: max(1vw, 12px);
    /* font-weight: 800; */
}
.calendar-date-content {
    position: absolute;
    height: 100%;
    width: 100%;
    /*  */
    background: #499bc7;
    color: #fff;
    font-size: max(2.5w, 8px);
    /* font-weight: 800; */
    text-decoration: none;
}
.calendar-date-content:hover {
    color: #fff;
    background: #14609e;
}
.calendar-date-active {
    background: #ff6400 !important;
}
.calendar-back, .calendar-forward {
    color: #499bc7;
}
.calendar-back:hover, .calendar-forward:hover {
    color: #14609e;
}